@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: #000000;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  background-color: #fffffc;
}

h1,
h2,
h3 {
  color: #000000;
}
